@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #000000;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px dashed #188ce8;*/
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #757575;
}
.link:hover svg, .link:focus svg {
  fill: #2196f3;
  color: #757575;
}

.footer-adress__item .link:hover,
.footer-adress__item .link:focus {
  color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  justify-content: flex-start;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}

.header-nav > .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-logo > .logo {
  display: block;
  margin-bottom: 20px;
}

.container-header-nav,
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-right: auto;
}

.current.site-nav__item .link {
  color: #2196f3;
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.current.site-nav__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  background-size: cover;
  bottom: -2px;
}

.site-nav,
.contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  align-items: flex-end;
  align-items: baseline;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.contacts__item {
  flex-direction: row;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-text {
  display: flex;
  align-items: center;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.link .contacts__item {
  align-items: center;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px dashed #188ce8;*/
}
.container-container {
  display: flex;
  align-items: baseline;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__name {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.peculiarity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.peculiarities {
  display: flex;
}

.peculiarities__item {
  width: 270px;
}
.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-header,
.peculiarities__text {
  text-align: left;
}

.peculiarities__name {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.peculiarities__picture {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.peculiarities__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  padding-bottom: 94px;
}

.action-header,
.command-header,
.clients-header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.action-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-cards__item {
  display: flex;
  display: inline-block;
  text-align: center;
}
.action-cards__item:not(:last-child) {
  margin-right: 30px;
}

.action-cards__descript {
  position: relative;
}

.action-cards__text {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23.81%;
}

.command-section {
  background-color: #f5f4fa;
}

.command {
  display: flex;
  align-items: center;
}

.command__item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__item:not(:first-child) {
  margin-left: 30px;
}

.command__info {
  padding: 30px;
}

.command__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.command__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/*СОЦСЕТИ*/
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #f5f4fa;
}
.footer-social-list .social__link {
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list .social__link:hover, .footer-social-list .social__link:focus {
  background-color: #2196f3;
  fill: #f5f4fa;
}

.social__item + .social__item {
  margin-left: 10px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  flex-direction: column;
}

.footer-social {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social__name,
.footer-contact__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-logo {
  margin-right: 70px;
  padding-right: 15.3px;
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__item--adress {
  display: flex;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.footer-contact__label {
  margin-right: 12px;
}

.footer-contact__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border: none;
  fill: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__button:hover, .footer-contact__button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.footer-button__icon {
  margin-left: 10px;
}

.footer-mail {
  display: flex;
  justify-content: flex-start;
}

.footer-contact__input {
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
}

.footer-contact__form {
  display: flex;
  align-items: flex-end;
}

/*МОДАЛЬНОЕ ОКНО*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover > .modal-btn__icon, .modal-btn:focus > .modal-btn__icon {
  fill: #2196f3;
}

.modal-btn__icon {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  width: 448px;
  height: 501px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.modal-form__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.modal-form__label:nth-child(5) {
  margin-bottom: 20px;
}
.modal-form__label input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transform: translateX(52px);
  fill: #2196f3;
}
.modal-form__label input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transform: translateX(52px);
  fill: #2196f3;
}
.modal-form__label input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transform: translateX(52px);
  fill: #2196f3;
}

.form-label-item {
  display: flex;
  position: relative;
  width: 100%;
}

.modal-form__text {
  margin-bottom: 4px;
}

.from-label-item {
  display: flex;
  height: 100%;
}

.modal-form__input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus, .modal-form__input:hover {
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
}
.modal-form__inputt input::-moz-placeholder {
  fill: #2196f3;
  border: #2196f3;
}
.modal-form__inputt input:-ms-input-placeholder {
  fill: #2196f3;
  border: #2196f3;
}
.modal-form__inputt input::placeholder {
  fill: #2196f3;
  border: #2196f3;
}

.modal-form__label input {
  margin: 0px;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, 31px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
}

.textarea-comment .placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-comment {
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus, .textarea-comment:hover {
  border-color: #2196f3;
}

.agreement {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus + .icon-check, .checkbox:focus-visible + .modal-agreement__icon-empty {
  border-color: #2196f3;
}
.checkbox:checked + .modal-agreement__icon-empty {
  opacity: 0;
  border-color: inherit;
}
.checkbox:checked ~ .modal-agreement__icon {
  opacity: 1;
  background-color: link-color-change;
}

.modal-agreement__icon-empty {
  display: inline-block;
  width: 16px;
  height: 14px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  left: 12.5px;
  cursor: pointer;
}

.modal-agreement__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-origin: border-box;
  opacity: 0;
  border-radius: 2px;
}

.modal-agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.big-button {
  cursor: pointer;
  display: flex;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.big-button:hover, .big-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.modal-form > .big-button {
  padding: 10px 55px 10px 55px;
}

.button {
  font-family: inherit;
}

.filter-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn__item + .filter-btn__item {
  margin-left: 8px;
}

.active-button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-nav__item .link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item .link:hover, .site-nav__item .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.footer-adress__item .link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress__item .link:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__icon,
.contacts__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item .link:hover,
.contacts__item .link:focus,
.adress-link .link:hover,
.adress-link .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.works__item {
  display: flex;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}
.works__item:nth-child(3n) {
  margin-right: 0px;
}

.box {
  position: relative;
  overflow: hidden;
}

.box__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}

.works__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover, .works__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__link:hover .box__overlay,
.works__link:focus .box__overlay {
  transform: translateY(0);
}

.works__image {
  min-width: 100%;
}

.works-info {
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 24px;
}

.works-info__name {
  display: flex;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-info__text {
  display: flex;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */