$primary-text-color: #000000;
$color-text: #212121;
$color-text-lighter: #757575;
$color-text-footer: rgba(255, 255, 255, 0.6);
$color-text-contrast: #ffffff;
$background-color: #ffffff;
$background-color-dark: #2f303a;
$background-color-command: #f5f4fa;
$background-hero-btn-change: #188ce8;
$link-color-change: #2196f3;
$color-line: #ececec;
$color-social-link: #afb1b8;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
@mixin border-card() {
  border-right: 1px solid $color-line;
  border-left: 1px solid $color-line;
  border-bottom: 1px solid $color-line;
}
@mixin flex-center($type) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin invisible() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
@mixin transition($type) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin transition-two($type, $type1) {
  transition: $type 250ms cubic-bezier(0.4, 0, 0.2, 1), $type1 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
